/* width */
::-webkit-scrollbar {
   width: 2px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #151719;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #888;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #6163ff;
 }